<h1>Users</h1>

<h3>Standard Users</h3>
<% User.standard.each do |user| %>
  <%= link_to user.username, user_path(user) %>
  <br><br>
<% end %>

<h3>Admin Users </h3>
<% User.admin.each do |user| %>
  <%= link_to user.username, user_path(user) %>
  <br><br>
<% end %>
