// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-form-div{
display: grid;
place-items: center;
}

.login-form{
    display: grid;
    place-items: center;
}

.sign-in-form-el{
    padding: 5px;
}